body{
    background-color:#dafdfd;
}

header{
    color: #004c4c;
    text-align:center;
}

header img{
    border-radius:150px;
    width: 300px;
    border: 10px thin darkblue;
}

h2{
    color:#006666;
    font-size: 60px;
}

