body{
    background-color:#dafdfd;
    font-family: 'Didact Gothic', sans-serif;
    font-size: medium;
    line-height: 30px;

}

header{
    color: #004c4c;
    text-align:center;
    background-blend-mode: soft-light;
    background-image: url("C:\Users\MiguelArenas\Desktop\Websites and Coding\GitHub\cartoon-hero\img\BTE1");
    padding-top: 5mm;
    padding-bottom: 5mm;
    font-size: 60px;

}

header img{
    border-radius:170px;
    width: 300px;
    border: 10px solid cadetblue;
}

h1{
    color:#006666;
    font-size: 100 px;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2{
    color:#006666;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
}

p{
    font-size: 20px;
    display:inline;
}

a{
    color:darkmagenta;
    font-variant: normal;
    font-kerning: normal;
}

a:hover{
    background-color:#8859ff;
    color:white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 90%;
    margin: auto;
}

footer{
    padding-top: 50px;
    padding-bottom: 30px;
    text-decoration:underline;
    background-color: black;
    color:azure
}